{% extends "base.html" %}

{% block title %}{{ section.title }} - Hazelnut{% endblock title %}

{% block content %}
{{ section.content | safe }}
<hr>
<ul class="post-list">
    {% for page in section.pages %}
    <li>
        <a class="internal" href="{{ page.permalink }}">
            {{ page.title }}
            {% if page.date %}
                <p class="post-date">
                    {{ page.date | date(format="%Y-%m-%d") }}
                </p>
            {% endif %}
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock content %}
